appnope
asttokens
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
folium
fonttools
imblearn
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
kmodes
kprototypes
markdown-it-py
matplotlib
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
pygments
pyparsing
python-dateutil
pytz
pyzmq
rich
scikit-learn
scipy
sdv
seaborn
simpy
six
statsmodels
tornado
tqdm
traitlets
typing_extensions
tzdata
wcwidth
xgboost