appnope
asttokens
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
fonttools
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
markdown-it-py
matplotlib
matplotlib-inline
mdurl
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
rich
scikit-learn
scipy
sdv
seaborn
six
stack-data
tabulate
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
wcwidth
