appnope
asttokens
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
flask
folium
fonttools
gym
imblearn
ipykernel
ipython
itertools
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
kmodes
kprototypes
markdown-it-py
matplotlib
numpy
os
packaging
pandas
parso
pexpect
pillow
platformdirs
prefixspan
prompt_toolkit
psutil
ptyprocess
pure_eval
pygments
pyparsing
python-dateutil
python-dotenv
pytz
pyzmq
rich
scikit-learn
scipy
sdv
seaborn
shap
simpy
six
statsmodels
tornado
tqdm
traitlets
typing_extensions
tzdata
wcwidth
xgboost