<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Scavengers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
    <header class="sticky">
        <section class="header-title-line">
            <h1 class="nowrap">Data Scavengers</h1>
            <button id="menu-button" class="menu-button">
                <span id="menu-icon" class="menu-icon"></span>
            </button>
        </section>
        <nav id="nav-bar" class="hide">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('initial_data_exploration_visualisations') }}">Initial Data Exploration Visualisations</a></li>
                <li><a href="{{ url_for('user_segmentation_visualisations') }}">User Segmentation Visualisations</a></li>
                <li><a href="{{ url_for('tableau_visualisations') }}">Tableau Visualisations</a></li>
                <li><a href="{{ url_for('folium_visualisations') }}">Folium Visualisations</a></li>
                <li><a href="{{ url_for('kpi_dashboard') }}">KPI Dashboard</a></li>
                <li><a href="{{ url_for('other_visualisations') }}">Other Visualisations</a></li>
                <li><a href="{{ url_for('route_optimisation_model') }}">Route Optimisation Model</a></li>
                <li class="current-page">Disruption Impact Model</li>
            </ul>
        </nav>
    </header>
    <main id="main">
        <article>
            <h2 class="underline">Disruption Impact Model</h2>
            <section class="box">
                <form id="registration-form" action="{{ url_for('disruption_impact_model') }}" method="post">
                    <fieldset class="response-section">
                        <legend>Simulate Impacts of Bus Disruptions</legend>
                        <p>
                            <label for="bus-stop">Source of Disruption:&nbsp;&nbsp;</label>
                            <select name="bus-stop" id="bus-stop">
                                <option value="Kent Ridge MRT / Opp Kent Ridge MRT">Kent Ridge MRT / Opp Kent Ridge MRT</option>
                                <option value="LT27 / S17">LT27 / S17</option>
                                <option value="UHC / Opp UHC">UHC / Opp UHC</option>
                                <option value="UTown">UTown</option>
                                <option value="COM3">COM3</option>
                                <option value="BIZ2 / Opp HSSML">BIZ2 / Opp HSSML</option>
                                <option value="LT13 / Ventus">LT13 / Ventus</option>
                                <option value="IT / CLB">IT / CLB</option>
                                <option value="PGP">PGP</option>
                            </select>
                        </p>
                        <p>
                            <label for="decay-factor">Delay (in minutes):&nbsp;&nbsp;</label>
                            <input type="number" id="delay" name="delay" min="5" max="200" step="5"> 
                        </p>
                        <p>
                            <label for="decay-factor">Decay Factor:&nbsp;&nbsp;</label>
                            <input type="number" id="decay-factor" name="decay-factor" min="0.1" max="0.9" step="0.1"> 
                        </p>
                        <p>
                            <label for="max-depth">Max Depth:&nbsp;&nbsp;</label>
                            <input type="number" id="max-depth" name="max-depth" min="1" max="10"> 
                        </p>
                        <button type="submit" class="centralise submit-button">Calculate</button>
                    </fieldset>
                </form>
            </section>
        </article>
    </main>
</body>

</html>