<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Scavengers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
    <header class="sticky">
        <section class="header-title-line">
            <h1 class="nowrap">Data Scavengers</h1>
            <button id="menu-button" class="menu-button">
                <span id="menu-icon" class="menu-icon"></span>
            </button>
        </section>
        <nav id="nav-bar" class="hide">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('initial_data_exploration_visualisations') }}">Initial Data Exploration Visualisations</a></li>
                <li class="current-page">Drivers of Satisfaction Visualisations</li>
                <li><a href="{{ url_for('user_segmentation_visualisations') }}">User Segmentation Visualisations</a></li>
                <li><a href="{{ url_for('tableau_visualisations') }}">Tableau Visualisations</a></li>
                <li><a href="{{ url_for('folium_visualisations') }}">Folium Visualisations</a></li>
                <li><a href="{{ url_for('kpi_dashboard') }}">KPI Dashboard</a></li>
                <li><a href="{{ url_for('other_visualisations') }}">Other Visualisations</a></li>
                <li><a href="{{ url_for('route_optimisation_algo_and_simulation') }}">Route Optimisation Algorithm and Simulation</a></li>
                <li><a href="{{ url_for('disruption_impact_model') }}">Disruption Impact Model</a></li>
            </ul>
        </nav>
    </header>
    <main id="main">
        <article>
            <h2 class="underline">Drivers of Satisfaction Visualisations</h2>
            <section class="box">
                <h3>Exploratory Data Analysis</h3>
                <figure class="gallery">
                    <img src="{{ url_for('static', filename='img/Boxplot_Crowdeness_and_Crowdedness_Satisfaction.png') }}" alt="Boxplot_Crowdeness_and_Crowdedness_Satisfaction" width="350">
                    <img src="{{ url_for('static', filename='img/Boxplot_Waiting_Time_and_Waiting_Time_Satisfaction.png') }}" alt="Boxplot_Waiting_Time_and_Waiting_Time_Satisfaction" width="350">
                    <img src="{{ url_for('static', filename='img/Boxplots_and_Histogram_of_selected_features.png') }}" alt="Boxplots_and_Histogram_of_selected_features" width="350">
                    <img src="{{ url_for('static', filename='img/correlation_matrix_heatmap.png') }}" alt="correlation_matrix_heatmap" width="350">
                </figure>
            </section>
            <section class="box">
                <h3>Performance Importance Matrix</h3>
                <figure class="gallery">
                    <img src="{{ url_for('static', filename='img/performance_importance_matrix.png') }}" alt="performance_importance_matrix" width="500">
                </figure>
            </section>

            
        </article>
    </main>
</body>

</html>