<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Scavengers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
    <header class="sticky">
        <section class="header-title-line">
            <h1 class="nowrap">Data Scavengers</h1>
            <button id="menu-button" class="menu-button">
                <span id="menu-icon" class="menu-icon"></span>
            </button>
        </section>
        <nav id="nav-bar" class="hide">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('initial_data_exploration_visualisations') }}">Initial Data Exploration Visualisations</a></li>
                <li><a href="{{ url_for('user_segmentation_visualisations') }}">User Segmentation Visualisations</a></li>
                <li><a href="{{ url_for('tableau_visualisations') }}">Tableau Visualisations</a></li>
                <li class="current-page">Folium Visualisations</li>
                <li><a href="{{ url_for('kpi_dashboard') }}">KPI Dashboard</a></li>
                <li><a href="{{ url_for('other_visualisations') }}">Other Visualisations</a></li>
                <li><a href="{{ url_for('route_optimisation_algo_and_simulation') }}">Route Optimisation Algorithm and Simulation</a></li>
                <li><a href="{{ url_for('disruption_impact_model') }}">Disruption Impact Model</a></li>
            </ul>
        </nav>
    </header>
    <main id="main">
        <article>
            <h2 class="underline">Folium Visualisations</h2>
            <p>Please choose the timelapse that you wish to view:</p>
            <ul id="bullet-point-list">
                <li><a href="{{ url_for('html_visualisations', filename='nus_trip_markers_timelapse') }}">Overall Timelapse</a></li>
                <li><a href="{{ url_for('html_visualisations', filename='nus_exam_trip_markers_timelapse') }}">Exam Day Timelapse</a></li>
                <li><a href="{{ url_for('html_visualisations', filename='nus_no_exam_trip_markers_timelapse') }}">Non-Exam Day Timelapse</a></li>
                <li><a href="{{ url_for('html_visualisations', filename='nus_a1_trip_markers_timelapse') }}">Bus Service A1 Timelapse</a></li>
                <li><a href="{{ url_for('html_visualisations', filename='nus_a2_trip_markers_timelapse') }}">Bus Service A2 Timelapse</a></li>
                <li><a href="{{ url_for('html_visualisations', filename='nus_d1_trip_markers_timelapse') }}">Bus Service D1 Timelapse</a></li>
                <li><a href="{{ url_for('html_visualisations', filename='nus_d2_trip_markers_timelapse') }}">Bus Service D2 Timelapse</a></li>
                <li><a href="{{ url_for('html_visualisations', filename='nus_cluster_0_trip_markers_timelapse') }}">Cluster 0 Timelapse</a></li>
                <li><a href="{{ url_for('html_visualisations', filename='nus_cluster_1_trip_markers_timelapse') }}">Cluster 1 Timelapse</a></li>
                <li><a href="{{ url_for('html_visualisations', filename='nus_cluster_2_trip_markers_timelapse') }}">Cluster 2 Timelapse</a></li>
                <li><a href="{{ url_for('html_visualisations', filename='demand_heatmap') }}">Demand Forecasting Timelapse</a></li>
            </ul>
        </article>
    </main>
</body>

</html>