<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Scavengers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
    <header class="sticky">
        <section class="header-title-line">
            <h1 class="nowrap">Data Scavengers</h1>
            <button id="menu-button" class="menu-button">
                <span id="menu-icon" class="menu-icon"></span>
            </button>
        </section>
        <nav id="nav-bar" class="hide">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li class="current-page">Initial Data Exploration Visualisations</li>
                <li><a href="{{ url_for('user_segmentation_visualisations') }}">User Segmentation Visualisations</a></li>
                <li><a href="{{ url_for('tableau_visualisations') }}">Tableau Visualisations</a></li>
                <li><a href="{{ url_for('folium_visualisations') }}">Folium Visualisations</a></li>
                <li><a href="{{ url_for('kpi_dashboard') }}">KPI Dashboard</a></li>
                <li><a href="{{ url_for('other_visualisations') }}">Other Visualisations</a></li>
                <li><a href="{{ url_for('route_optimisation_model') }}">Route Optimisation Model</a></li>
                <li><a href="{{ url_for('disruption_impact_model') }}">Disruption Impact Model</a></li>
            </ul>
        </nav>
    </header>
    <main id="main">
        <article>
            <h2 class="underline">Initial Data Exploration Visualisations</h2>
            <figure class="gallery">
                <img src="{{ url_for('static', filename='img/initial_year_bar_chart.png') }}" alt="year_bar_chart" width="500">
                <img src="{{ url_for('static', filename='img/initial_major_bar_chart.png') }}" alt="major_bar_chart" width="500">
                <img src="{{ url_for('static', filename='img/initial_on_campus_bar_chart.png') }}" alt="on_campus_bar_chart" width="500">
                <img src="{{ url_for('static', filename='img/initial_main_reason_for_taking_isb_bar_chart.png') }}" alt="main_reason_for_taking_isb_bar_chart" width="500">
                <img src="{{ url_for('static', filename='img/initial_trips_per_day_box_plot.png') }}" alt="trips_per_day_box_plot" width="500">
                <img src="{{ url_for('static', filename='img/initial_duration_per_day_box_plot.png') }}" alt="duration_per_day_box_plot" width="500">
                <img src="{{ url_for('static', filename='img/initial_has_exam_bar_chart.png') }}" alt="has_exam_bar_chart" width="500">
                <img src="{{ url_for('static', filename='img/initial_weather_bar_chart.png') }}" alt="weather_bar_chart" width="500">
                <img src="{{ url_for('static', filename='img/initial_bus_num_bar_chart.png') }}" alt="bus_num_bar_chart" width="500">
                <img src="{{ url_for('static', filename='img/initial_start_bar_chart.png') }}" alt="start_bar_chart" width="500">
                <img src="{{ url_for('static', filename='img/initial_end_bar_chart.png') }}" alt="end_bar_chart" width="500">
                <img src="{{ url_for('static', filename='img/initial_waiting_time_box_plot.png') }}" alt="waiting_time_box_plot" width="500">
                <img src="{{ url_for('static', filename='img/initial_num_people_at_bus_stop_box_plot.png') }}" alt="num_people_at_bus_stop_box_plot" width="500">
                <img src="{{ url_for('static', filename='img/initial_comfort_histogram.png') }}" alt="comfort_histogram" width="500">
                <img src="{{ url_for('static', filename='img/initial_safety_histogram.png') }}" alt="safety_histogram" width="500">
                <img src="{{ url_for('static', filename='img/initial_crowdedness_histogram.png') }}" alt="crowdedness_histogram" width="500">
                <img src="{{ url_for('static', filename='img/initial_crowdedness_satisfaction_histogram.png') }}" alt="crowdedness_satisfaction_histogram" width="500">
                <img src="{{ url_for('static', filename='img/initial_waiting_time_satisfaction_histogram.png') }}" alt="waiting_time_satisfaction_histogram" width="500">
                <img src="{{ url_for('static', filename='img/initial_overall_satisfaction_histogram.png') }}" alt="overall_satisfaction_histogram" width="500">
            </figure>
            
        </article>
    </main>
</body>

</html>