<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Scavengers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
    <header class="sticky">
        <section class="header-title-line">
            <h1 class="nowrap">Data Scavengers</h1>
            <button id="menu-button" class="menu-button">
                <span id="menu-icon" class="menu-icon"></span>
            </button>
        </section>
        <nav id="nav-bar" class="hide">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('initial_data_exploration_visualisations') }}">Initial Data Exploration Visualisations</a></li>
                <li><a href="{{ url_for('drivers_of_satisfaction_visualisations') }}">Drivers of Satisfaction Visualisations</a></li>
                <li><a href="{{ url_for('user_segmentation_visualisations') }}">User Segmentation Visualisations</a></li>
                <li><a href="{{ url_for('tableau_visualisations') }}">Tableau Visualisations</a></li>
                <li><a href="{{ url_for('folium_visualisations') }}">Folium Visualisations</a></li>
                <li class="current-page">KPI Dashboard</li>
                <li><a href="{{ url_for('other_visualisations') }}">Other Visualisations</a></li>
                <li><a href="{{ url_for('route_optimisation_algo_and_simulation') }}">Route Optimisation Algorithm and Simulation</a></li>
                <li><a href="{{ url_for('disruption_impact_model') }}">Disruption Impact Model</a></li>
            </ul>
        </nav>
    </header>
    <main id="main">
        <article>
            <h2 class="underline">KPI Dashboard</h2>
            <section align="center">
                <iframe class="tableau-viz" src="https://public.tableau.com/views/NUS-ISBKPIDASHBOARD/viz?:showAppBanner=false&:showVizHome=no&:embed=true&:origin=viz_share_link"></iframe>
            </section>
        </article>
    </main>
</body>

</html>