<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Scavengers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
    <header class="sticky">
        <section class="header-title-line">
            <h1 class="nowrap">Data Scavengers</h1>
            <button id="menu-button" class="menu-button">
                <span id="menu-icon" class="menu-icon"></span>
            </button>
        </section>
        <nav id="nav-bar" class="hide">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('initial_data_exploration_visualisations') }}">Initial Data Exploration Visualisations</a></li>
                <li><a href="{{ url_for('user_segmentation_visualisations') }}">User Segmentation Visualisations</a></li>
                <li><a href="{{ url_for('tableau_visualisations') }}">Tableau Visualisations</a></li>
                <li><a href="{{ url_for('folium_visualisations') }}">Folium Visualisations</a></li>
                <li><a href="{{ url_for('kpi_dashboard') }}">KPI Dashboard</a></li>
                <li><a href="{{ url_for('other_visualisations') }}">Other Visualisations</a></li>
                <li class="current-page">Route Optimisation Algorithm and Simulation</li>
                <li><a href="{{ url_for('disruption_impact_model') }}">Disruption Impact Model</a></li>
            </ul>
        </nav>
    </header>
    <main id="main">
        <article>
            <h2 class="underline">Route Optimisation Algorithm and Simulation</h2>
            <section class="box">
                <h3>Route Optimisation Algorithm</h3>
                <p>The following is a demonstration video showing how our Route Optimisation Algorithm can be utilised. You can try it out too by running Route_Optimisation.py!</p>
                <figure class="gallery">
                    <img src="{{ url_for('static', filename='img/route_optimisation_demo.gif') }}"" alt="route_optimisation_demo" width="800">
                </figure>
            </section>
            <section class="box">
                <h3>Simulation of System Efficiency and User Satisfaction</h3>
                <p>The following image demonstrates how we can simulate the outcome of implementing a certain route, with respect to system efficiency and user satisfaction. You can try it out too by running Simulation_Of_System_Efficiency_and_User_Satisfaction.py!</p>
                <figure class="gallery">
                    <img src="{{ url_for('static', filename='img/SimPy.png') }}"" alt="SimPy" width="800">
                </figure>
            </section>
        </article>
    </main>
</body>

</html>